<div class="container-fluid py-3">
  <% if flash.alert %>
    <div class="pt-5 col-4">
      <p class="alert"><%= flash.alert %></p>  
    </div>
  <% else %>
    <h2 class="pt-5 pb-3">スケジュールの編集</h2>
  <% end %>
  
  <%= form_with(model: @schedule) do |form| %>
    <%= render 'shared/form', form: form %>
    <ul class="pt-3">
      <li>
        <%= form.submit "スケジュールの編集を完了する" %>
      </li>
      <li>
        <%= link_to 'スケジュール一覧に戻る', schedules_path %>
      </li>
    </ul>
  <% end %>
</div>